.link{
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(64, 60, 60);
}
.container_navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    max-width: 100%;
}